/*** Nav-bar ***/

.nav-bar{
  display:flex;
  padding-left:24px;
  margin-top:5px;
  margin-bottom: 50px;
}

.nav-bar span{
  font-weight: bold;
  margin-left:8px;
 margin-top:5px;
}

.forgot-password-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  
}
.forgot-password-card{
  background:white;
  padding:20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  width:350px;
  max-width: 100%;
  margin-left: 50px;
}

.forgot-password-icon{
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding:8px;
  margin-bottom: 15px;
}
.forgot-password-icon img{
  width:19px;
}
.forgot-password-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.submit-button{
  color:white;
  border:none;
  padding:5px;
  border-radius: 4px;
  cursor:pointer;
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  margin-top: 30px;
  transition: transform 0.3s ease;
  
}

.submit-button:hover {
  transform: scale(1.05); 
}

.forgot-password-card h2{
  font-size: 15px;
  color:#101828;
  font-weight: bold;
  margin-bottom: 7px;
  
}
.para-text{
  font-size: 11px;
  color: #475467;
  text-align: center;
}

.forgot-form{
  width:100%;
  display:flex;
  flex-direction: column;
}

.password-label{
  margin-bottom: 5px;
  font-size: 13px;
  color:#09101D;
  padding-left: 7px;
  position:relative;
}

.password-label::after{
  content: '*';
  color:red;
  position:absolute;
  margin-left: 2px;
}

.forgot-password-card input{
  padding: 5px;
  margin-bottom: 20px;
  border:1px solid rgba(0, 112, 255, 0.4);
  font-size: 14px;
  color:#333;
  padding-left: 10px;
  
}
.forgot-password-card input::placeholder{
  font-size: 12px;
  
}

.forgot-password-card input:focus{
border-color: rgba(0, 112, 255, 0.2);
box-shadow: 0 0 5px rgba(0, 112, 255, 0.3); 
outline:none;
}

/* Modal */

.modal-overlay{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgba(225,225,225,0.5);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal{
  background: white;
  padding:20px;
  border-radius: 8px;
  width:300px;
  max-width:90%;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
  position:relative;
}

.modal-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.modal-icon{
  background-color: rgba(0, 112, 255, 0.1);
  border-radius: 50%;
  padding:10px;
}

.tick-icon{
  width: 24px;
  height: 24px;
}

.close-button{
  background:none;
  border:none;
  cursor:pointer;
}

.modal-body{
  text-align: left;
  margin-top: 20px;
}

.modal-body h2{
  font-weight: bold;
  margin-bottom: 13px;
  color: rgba(16, 24, 40, 1);


}
.modal-body p{
  text-align: left;
}

.confirm-button{
  background-color: #0070ff;
  color:white;
  border:none;
  padding:10px;
  cursor:pointer;
  width:100%;
  margin-top: 20%;
  font-size: 14px;
}
.p-color{
  color:#0070FF;
}

.bg-p-color{
  background-color: #0070FF;
}